*{
    margin:0

}
body{
    padding: 0;
}
.content{
    display: flex;
    background-image:url( "https://images.pexels.com/photos/1260968/pexels-photo-1260968.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260");
    height:80%;
    align-items: center;
}
.text{
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(221, 172, 104);
    font-size: 200px;
    text-shadow: 5px 5px 5px #2b3a2e;
    padding-left: 250px;
  
}
#navebar{
    height:250px;
    display: flex;
    font-size: 205px;
    background-color: rgba(173, 104, 40, 0.637);
    color: rgb(255, 255, 255);
    align-items: flex-end;
    justify-content: space-between;
}
#navebar > ul{
    font-size: 45px;
    display: flex;
    list-style: none;
    padding: 0;
    align-items:baseline;
}
#navebar > ul >li {
    border: rgba(255, 255, 255, 0) 8px solid;

    margin: 0 25 0 25;
    padding: 10px;
    
}

#navebar > ul >li:hover{
    border: rgba(165, 42, 42, 0.363) 8px solid;
    cursor: pointer;
}
.menupaper{
    display: flex;
    border-radius: 25px;
    margin: auto;
    padding-top: 150px;
    background-color: burlywood;
    width: 1800px;
    height: 700px;
    justify-content: space-around;
}
.aboutpaper{

    display: flex;
    border-radius: 25px;
    flex-direction: column;
    align-items: center;
    margin: auto;
    padding-top: 150px;
    background-color: burlywood;
    width: 1800px;
    height: 700px;
}
.aboutpaper > div{
    max-width: 1000px;
    font-size: 30px;
}
#abouttitle{
    margin-bottom: 50px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 80px;
}


#pizza{
    width: 400px;
    clip: rect(100px,0,100px,0);
}
#burger{
        width: 400px;
}
.food{
    font-family:cursive;
    display: flex;
    height: 600px;
    align-items: center;
    font-size: 70px;
}